<div class="admin-box page-title" >
	<h1 class="title">{{pageTitle}}</h1>
</div>
<ul class="grid dashboard-uinfo cols-3">
	<li class="grid-itm wide">
		<user-info></user-info>
	</li>
	<li class="grid-itm">
		<div class="admin-box banner">
			<img src="assets/img/adv/desktop_training_plan.jpg" alt="">
			<div class="content">
				<h2 class="title">Choose ur personal training plan now and get 10% off!</h2>
				<a href="/meal-plan" class="btn">Choose now</a>
			</div>
		</div>
	</li>
	<li class="grid-itm">
		<div class="admin-box banner">
			<img src="assets/img/adv/desktop_products.jpg" alt="">
			<div class="content">
			<h2 class="title">Time to grab some products</h2>
				<a href="/products" class="btn">Grab some</a>
			</div>
		</div>
	</li>
</ul>
<products-list></products-list>