<div class="admin-box page-title" >
	<h1 class="title">{{pageTitle}}</h1>
</div>
<ul class="grid" data-cols="3">
	<li class="grid-itm">
		<div class="admin-box">
			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
			<div class="content">
				<dl class="usr-info">
					<dt>Signed as:</dt>
					<dd><span class="itm icn user">Joe Blacky</span></dd>
					<dt>Contact email:</dt>
					<dd><a href="mailto:goodddealthanks@gmail.com" class="link icn mail">gooddealthanks@gmail.com</a></dd>
					<dt>Contact phone:</dt>
					<dd><a href="tel:09823957776" class="link icn phone">(098)-239-57-76</a></dd>
				</dl>
				<a href back-link class="btn">Logout</a>
				<a href="#" class="btn">User settings</a>
			</div>
		</div>
	</li>
	<li class="grid-itm">
		<div class="admin-box banner">
			<img src="assets/img/adv/desktop_training_plan.jpg" alt="">
			<div class="content">
				<h2 class="title">Choose ur personal training plan now and get 10% off!</h2>
				<a href="#" class="btn">Choose now</a>
			</div>
		</div>
	</li>
	<li class="grid-itm">
		<div class="admin-box banner">
			<img src="assets/img/adv/desktop_products.jpg" alt="">
			<div class="content">
			<h2 class="title">Time to grab some products</h2>
				<a href="#" class="btn">Grab some</a>
			</div>
		</div>
	</li>
</ul>
<products-list></products-list>