@import 'base/reset';
@import 'base/fonts';

@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/placeholders';
@import 'utils/icons';
@import 'utils/animations';

@import 'layout/page';
@import 'layout/forms';

@import 'components/header';
@import 'components/navigation';
@import 'components/grid';
@import 'components/products';
@import 'components/filters';
@import 'components/footer';

@import 'pages/page-not-found';
@import 'pages/dashboard';
@import 'pages/user-settings';
@import 'pages/product-detail';