.admin-box{
	position: relative;
	padding: $mainIndent*.75;
	background: #FFF;
	box-shadow: 0 0 0 1px $borderColor;
}
.grid-itm{
	.content{
		position: absolute;
		left: $mainIndent;
		right: $mainIndent;
		bottom: $mainIndent;
		top: $mainIndent;
		overflow: auto;
	}
	.banner{
		padding: 0;
		box-shadow: none;
		overflow: hidden;
		text-align: center;
		color: #FFF;
		background: transparent;
		text-shadow: 0 0 1px #000;
		&:hover{
			img{
				transform: scale(1.05);
			}
		}
		.title{
			margin: 0 0 $mainIndent;
		}
		.content{
			padding: $mainIndent*2 0;
		}
		img{
			backface-visibility: hidden;
			transform: scale(1);
			@extend %transition-fast-speed;
		}
	}
}
.title{
	margin: 0;
	text-transform: uppercase;
}
.usr{
	&-info{
		dt{
			margin: 0 0 $mainIndent*.25;
			font-weight: 700;
		}
		dd{
			margin: 0 0 $mainIndent;
		}
		.phone,
		.user{
			&::before{
				vertical-align: top;
			}
		}
		#{$iconClass}{
			font-style: normal;
			&::before{
				margin: 0 $mainIndent*.25 0 0;
			}
		}
	}
}
.grid{
	margin: 0 (-$mainIndent*.5);
	font-size: 0;
	&[data-cols="3"]{
		.grid-itm{
			width: 33.3334%;
		}
	}
	&[data-cols="4"]{
		.grid-itm{
			width: 25%;
		}
	}
	&-itm{
		width: 50%;
		padding: 0 $mainIndent*.5 $mainIndent;
		font-size: 16px;
		@extend %inline-block-top;
	}
}