/* Filters block goes under product listing*/
.filters{
	.title{
		margin: 0 0 $mainIndent*.75;
	}
	.sub-title{
		margin: 0 0 $mainIndent*.5;
		font-size: 18px;
	}
	&-box{
		padding: 0 $mainIndent 0 0;
		@extend %inline-block-top;
	}
	.selects{
		width: 100%;
		max-width: 200px;
		font-size: 0;
		label{
			width: 35%;
			margin: 0;
			font-size: 14px;
		}
		select{
			width: 65%;
		}
	}
}
/* Media Queries ========================================================================= */
  @media screen and (max-width: 400px){
  	.filters{
  		&-box{
  			width: 100%;
	  		padding: 0;
	  		margin: 0 0 $mainIndent*.5;
	  		&.selects{
	  			max-width: 100%;
	  		}
  		}
  	}
  }
 /* ======================================================================================= */