$header: '.main-header';
/* ======================================================================================= */
	#{$header}{
		padding: $mainIndent;
		background: #242424;
		white-space: nowrap;
		font-size: 0;
		z-index: 10;
		box-shadow: 0 0 1px #242424;
	}
	.logo{
		position: relative;
		z-index: 1;
		&:hover{
			animation: wooble $slow-speed;
		}
	}
/* ======================================================================================= */