/* ======================================================================================= */
	/* Core styles for product*/
	.product{
		&-image{
			border: 1px solid $borderColor;
		}
		&-name{
			margin: 0 0 $mainIndent*.5;
			font: 20px/24px $primaryFont;
		}
		&-price-box{
			margin: 0 0 $mainIndent*.5;
			span{
				display: block;
			}
		}
		&-price,
		&-special-price{
			color: $successColor;
		}
		.sale{
			.product-price{
				text-decoration: line-through;
				color: inherit;
				font-size: 12px;
			}
		}
		.cstm-check{
			margin: 0 0 $mainIndent*.5
		}
	}
	/* View more button on product listing */
	.load-more{
		display: block;
		width: auto;
		margin: 0 auto;
	}
	/* Handles all filters */
	.toolbar{
		margin: 0 0 $mainIndent;
	}
	/* Normally used for changing view between grid and list, but here only switches to list */
	.view-mode{
		[type="checkbox"]{
			display: none;
			&:checked{
				+ label{
					&::before{
						border-color: $secondaryColor;
						color: #252525;
					}
				}
			}
		}
		label{
			margin: 0;
			@extend %inline-block-top;
			&::before{
				display: block;
				width: 30px;
				height: 30px;
				background: #FFF;
				font: 20px/28px $iconsFont;
				color: $borderColor;
				text-align: center;
				border: 1px solid $borderColor;
				box-sizing: border-box;
				@extend %transition-fast-speed;
			}
		}
		.list{
			&::before{
				content: '\E805';
				font-size: 25px;
			}
		}
	}
/* ======================================================================================= */