<section class="dev-review">
	<div class="admin-box page-title" >
		<h1 class="title">{{pageTitle}}</h1>
	</div>
	<ul class="admin-box content">
		<li class="task-section">
			<h2 class="sub-title">Страница авторизации*</h2>
			<ul class="cstm check">
				<li>Email - валидация.</li>
				<li>Пароль - валидация, pattern: a-zA-Z0-9.</li>
				<li>Чекбокс - запомнить меня.**</li>
			</ul>
			<div class="task-notice">
				<p>* Страница авторизации есть, форма авторизации валидируется но на этом все и заканчивается.
					Данные никуда не отсылаются и нигде не хранятся. Авторизацию хотел сделать через JWT и node + express + mongo, на крайняк через localStorage.
					Почему не сделал - не хватило времени.
				</p>
				<p>
					** Чекбокс есть, но он просто клацается. На данный момент никакой смысловой или логической нагрузки, кроме красивой анимации, не несет.
				</p>
			</div>
		</li>
		<li class="task-section">
			<h2 class="sub-title">Индексная страница/Dashboard</h2>
			<ul class="cstm check">
				<li>
					Информация о пользователе*
					<ul class="check">
						<li>Имя</li>
						<li>Email</li>
						<li>Кнопка Logout - возвращает на страниу авторизации**</li>
					</ul>
				</li>
				<li>
					Список товаров
					<ul class="check">
						<li>N***</li>
						<li>Наименование</li>
						<li>Цена, число в формате 1234,56</li>
						<li>Кнопка "Подробнее/скрыть", показывает описание товара(одновременно может быть открыто только 1 описание товара)****</li>
						<li>Кнопка создать товар*****</li>
						<li>Кнопка редактировать товар</li>
						<li>Чекбокс для пометки товара******</li>
						<li>Возможность групового удаления помеченых товаров</li>
						<li>Постраничная навигация с вожмозностью переключения выводиого количества товаров(10, 20, 50)*******</li>
					</ul>
				</li>
			</ul>
			<div class="task-notice">
				<p>Здесь будет много звездочек</p>
				<p>* Информация о пользователе берется и users.json, но там стоит перечесление всех чуваков, до конца не разобрался как работать с 1 чуваком.</p>
				<p>** Нет авторизации, нет логаута. Кнопка ведет в корень проекта.</p>
				<p>
					*** Не выводил, т.к. не придумал куда его втулить. Номер можно вывести через counter-increment(CSS).
				</p>
				<p>
					**** Не сделал. Причина - не хватило времени.
				</p>
				<p>
					***** Не сделал. Причина - таже что и авторизация.
				</p>
				<p>
					****** Чекбокс есть, но логики или смысла не больше чем в remember me при авторизации.
				</p>
				<p>
					******* Есть select который регулирует количество показываемых товаров, но есть одно большое но.
						Все товары валятся из products.json поэтому будь их там 10 или 100 000 они все выгружаются, но отображается сколько нужно.
						Идея выгрузить все мне не нравится и я хотел ограничить кол-во товаров, но опять же время.
						Еще есть кнопка View more, она показывает по 4(лимит товаров для показа) товара по клику и прячется если нечего показывать, прикольная штука только ломается если поклацать select регулирующий лимит товаров для показа.
				</p>
			</div>
		</li>
		<li class="task-section">
			<h2 class="sub-title">Создание/редактирование товара*</h2>
			<div class="task-notice">
				<p>* Не сделал. Есть страница просто посмотреть товар. Инфа будет только на 1 товаре, для остальных не создавал json с описанием.
				</p>
			</div>
		</li>
		<li class="task-section">
			<h2 class="sub-title">Редактирование профиля*</h2>
			<div class="task-notice">
				<p>* Страница есть, форма есть. Форма валидируется, но инфа никуда не отправляется и не сохраняется. Инфа о пользователе из users.json
				</p>
			</div>
		</li>
		<li class="task-section">
			<h2 class="sub-title">404</h2>
			<div class="task-notice">
				<p>Вот тут могу сказать с гордостью - готово. Там даже кнопочка назад есть.</p>
			</div>
		</li>
	</ul>
</section>