  $pageClass: '.page-forgot-pass';
/* Login page ============================================================================ */
  #{$pageClass}{
    .form-wrapper{
      max-width: $minWidth*1.5;
    }
    .btn{
      width: auto;
    }
  }
/* ======================================================================================= */