<div class="products" data-ng-controller="ProductsController">
	<div class="admin-box filters">
		<h2 class="title">Filters</h2>
		<div class="filters-box selects">
			<h3 class="sub-title">Sort by</h3>
			<ul>
				<li>
					<label for="sortBy">Sort by</label>
          <select id="sortBy" data-ng-model="descending">
              <option value="true" selected>Newest first</option>
              <option value="false">Oldest first</option>
          </select>
				</li>
				<li>
					<label for="show-items" class="itm">Show:</label>
					<select id="show-items" class="itm">
						<option value="4">4</option>
						<option value="8">8</option>
						<option value="all">All</option>
					</select>
				</li>
			</ul>
		</div>
		<div class="filters-box">
			<h3 class="sub-title">Flavour</h3>
			<ul>
				<li class="filter cstm-check" data-ng-repeat="tag in filters.tags">
					<input id="flavour-{{tag.label | lowercase}}" data-ng-model="tag.selected" type="checkbox"></input>
					<label for="flavour-{{tag.label | lowercase}}">{{tag.label}}</label>
				</li>
			</ul>
		</div>
		<div class="filters-box">
			<h3 class="sub-title">Size</h3>
			<ul>
				<li class="filter cstm-check">
					<input id="flavour-bottle" type="checkbox"></input>
					<label for="flavour-bottle">Bottle</label>
				</li>
				<li class="filter cstm-check">
					<input id="flavour-bank" type="checkbox"></input>
					<label for="flavour-bank">Bank</label>
				</li>
			</ul>
		</div>
	</div>
	<ul class="grid" data-cols="4">
		<li class="grid-itm" data-ng-repeat="product in filtered = (products | orderBy:'price':descending | limitTo:viewLimit )">
			<div class="admin-box product">
				<img class="product-image" data-ng-src="{{product.primaryImage}}" alt="{{product.name}}">
				<h2 class="product-name">{{product.name | limitTo: nameLimit}}{{product.name.length > nameLimit ? '&hellip;' : ''}}</h2>
				<div class="product-price-box" data-ng-class="{true: 'sale'}[product.onSale == true]">
					<span class="product-special-price" data-ng-show="product.onSale">{{product.specialPrice | currency}}</span>
					<span class="product-price">{{product.price | currency}}</span>
				</div>
				<div class="product-description">
					<p>{{product.description}}</p>
				</div>
				<div class="cstm-check">
					<input id="product-id-{{product.id}}" type="checkbox"></input>
					<label for="product-id-{{product.id}}">Check product</label>
				</div>
			</div>
		</li>
	</ul>
	<button data-ng-click="viewMore(viewLimit)" data-ng-hide="viewLimit >= products.length" class="btn load-more">View more</button>